.navbar {
    display: inline-flex;
    width: 100%;
}

.nav-item {
    list-style: none;
    justify-content: end;
}

.nav-link {
    text-decoration: none !important;
    color: black !important;
}

#navbarNav {
    width: 20vw !important;
    justify-content: end;
}

.navbar-nav {
    margin: auto;
    width: 50%;
}

#bars {
    width: 100vw;
}

#listies {
    margin: 0;
    align-items: end;
    justify-content: end;
}