#blog-item {
    width: 30%;
    display: inline-flex;
    margin: 15px 10px;
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1000px) {
    #blog-item {
        width: 100%;
        justify-content: center;
    }
}