.date-author-text {
    font-size: 14px;
    color: #6c6a72;
    font-weight: bold;
  }
  
  .dot-divider {
    margin: 9px 4px;
    width: 4px;
    height: 4px;
    background: #6c6a72;
    border-radius: 50%;
  }